<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.shoutemapp" xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

  <!--//NativeModuleInjectionMark-android-manifest-root-->

  <queries>
    <!--//NativeModuleInjectionMark-android-manifest-queries-->
  </queries>

  <application tools:replace="android:label,android:appComponentFactory"
    android:appComponentFactory="dummyProperty"
    android:usesCleartextTraffic="true"
    android:name=".MainApplication"
    android:allowBackup="true"
    android:label="${appName}"
    android:icon="@mipmap/app_icon"
    android:theme="@style/AppTheme"
    android:extractNativeLibs="true"
    android:requestLegacyExternalStorage="true">

    <activity
      android:name=".MainActivity"
      android:label="${appName}"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:windowSoftInputMode="adjustPan"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!--//NativeModuleInjectionMark-android-manifest-main-activity-intent-filters-->
    </activity>
    <!--//NativeModuleInjectionMark-android-manifest-application-->
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBAefhRlXEH3vCko-zZTX6PHllTR6av4WI"/>
  </application>

</manifest>
